{% extends 'base/base.html' %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    <script>
        $url = "{% url 'mainboard:graph' 'none' %}";
        $loading_url = "{% static 'base/img/loading_graph3.gif' %}";
        $sync_seconds = {{ sync_seconds }};
        $selected_sid = '';
        $interval_id = {};
        $interval = 1000 * $sync_seconds;
        $col_class = null;
        $sid = null;
    </script>
    <script src="{% static 'mainboard/js/graph.js' %}"></script>
    <script type="text/javascript">

        var nodes = null;
        var edges = null;
        var network = null;

        // Called when the Visualization API is loaded.
        function draw() {
            nodes = [
                {% for s in sensors %}
                    {
                        id: "{{ s.id }}",
                        shape: 'image',
                        image: "{% static 'base/img/router_sensor2.png' %}",
                        label: "{{ s.label }}",
                        title: "<b>IP:</b> {{ s.ip }}<br><b>Port:</b> {{ s.port }}",
                        fixed: false,
                    },
                {% endfor %}
            ];
            edges = [
                {% for e in edges %}
                    {from: "{{ e.from }}", to: "{{ e.to }}"},
                {% endfor %}
            ];

            var container = document.getElementById('mynetwork');
            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {
                    edges: {
                        arrows: {
                            to: {enabled: true, scaleFactor: 1, type: 'arrow'},
                            middle: {enabled: false, scaleFactor: 1, type: 'arrow'},
                            from: {enabled: false, scaleFactor: 1, type: 'arrow'}
                        },
                        arrowStrikethrough: true,
                    },
                    nodes: {
                        size: 40,
                        color: {
                            background: '#006400'
                        },
                        font: {color: '#0c0c0c', "size": 10},
                    },
                    interaction: {
                        dragNodes: true,
                        hover: true,
                    },
                    physics: {
                        barnesHut: {
                            avoidOverlap: 1
                        },
                    },
            };
            network = new vis.Network(container, data, options);

            network.on("doubleClick", function (params) {
                $sid = params.nodes[0];
                if ($sid != null) {
                    $("#empty-graph").hide();
                    $(".graph").prop('id', 'graph' + $sid);
                    $("#graph_side").children(".last_updated").prop('id', 'last_updated_' + $sid);
                    $(".graph").show();
                    if ($selected_sid !== $sid) {
                        $(".graph").html('<img style="position: relative; top: 180px; width: 20%;" src="' + $loading_url + '">');
                        $(".last_updated").hide();
                        $(".pause_sync").hide();
                        $(".resume_sync").hide();
                        $(".expand_graph").hide();
                        $(".compress_graph").hide();
                    }
                    if ($interval_id) {
                        window.clearInterval($interval_id[$selected_sid]);
                        delete $interval_id[$selected_sid];
                    }
                    $selected_sid = $sid;
                    setTimeout(function() {
                        var url = $url.replace('none', $sid);
                        generate_router_graph(url, $sid);
                    }, 500);
                    $interval_id[$sid] = window.setInterval(reload_graphs, $interval);
                }
            });
            network.on("hoverNode", function (params) {
                network.canvas.body.container.style.cursor = 'pointer';
                params.event = "[original event]";
            });

            network.on("blurNode", function (params) {
                network.canvas.body.container.style.cursor = 'default'
            });
        }
        $(document).ready(function() {
            draw();
        });
    </script>
{% endblock scripts %}

{% block styles %}
    {{ block.super }}
    <style type="text/css">
        #mynetwork {
            width: 100%;
            height: 420px;
            border: 1px solid lightgray;
            background-color: #f4f4f4;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="routers_and_graph" class="row">
        <div class="col-sm-6" style="text-align: center; margin-top: 10px;">
           {% comment %} <div class="alert alert-info" style="display: inline-block; width: -moz-fit-content">

            </div>{% endcomment %}
            <strong>Info:</strong> Double-click on any router to see its graph.
            <div id="mynetwork"></div>
        </div>
        <div id='graph_side' class="graph-container col-sm-6" style="text-align: center;">
            <a class="btn btn-danger btn-sm pause_sync" style="color: white; display: none;"><span class="fa fa-pause"></span></a>
            <a class="btn btn-info btn-sm resume_sync" style="color: white; display: none;"><span class="fa fa-play"></span></a>
            <a style="display: inline-block;  color: white; float: right; display: none;" class="btn btn-secondary btn-sm expand_graph"><span class="fa fa-expand"></span></a>
            <a style="display: inline-block; display: none; float: right; color: white;" class="btn btn-secondary btn-sm compress_graph"><span class="fa fa-compress"></span></a>
            <span class="last_updated" id="last_updated" style="display: none;"></span>
            <img id="empty-graph" class="responsive" src="{% static 'base/img/empty_graph.png' %}">
            <div class="graph" id="graph" style="display: none; margin-top: -20px;">
                <img style="position: relative; top: 180px; width: 20%;" src="{% static 'base/img/loading_graph3.gif' %}">
            </div>
            <br/>
        </div>
    </div>
{% endblock content %}